:root{
    --red: #f9032f;
    --black: #000;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: var(--black);
    height: 60px;
    padding: 0.5rem calc(100vw - 1200px) / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: bold;
    
}

.navbar__logo{
    color: var(--white);
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navbar__logo:hover{
    color: var(--red);
    transition: all 0.3s ease;
}

.navbar__link{
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    transition: all 0.3s ease;
}

.navbar__link:hover{
    color: var(--red);
    transition: all 0.3s ease;
    
}

.highlight{
    border-bottom: 4px solid var(--red);
}

@media screen and (max-width: 768px){
    .navbar{
        width: 100%;
    }
    
    .navbar__link{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }
    
    .navbar__menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 150px);
        margin: 0;
        position: absolute;
        width: 100%;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .navbar__menu.active{
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 100vh;
        font-size: 1.5em;
        background: var(--black);
    }
    
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--white);
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

/* --HERO-- */
.HeroContainer{
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url('../img/pizza-3.jpg');
    height: 100vh;
    background-position: cover;
}

.HeroContent{
    height: calc(100vh - 80px);
    max-height: 100%;
    padding: 0rem calc(100vw - 1300px) /2;
}

.HeroItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    max-height: 100%;
    padding: 0.2rem;
    width: 650px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
}

@media screen and (max-width: 650px){
    .HeroItems{
        width: 100%;
    }   
    }

.HeroH1{
    font-size: clamp(2.5rem, 10vw, 5rem);
    margin-bottom: 1rem;
    box-shadow: 3px 5px #e9ba23;
    letter-spacing: 3px;
}

.HeroP{
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 2rem;
}

.HeroBtn{
    font-size: 1.4rem;
    padding: 1rem 4rem;
    border: none;
    background: #e31837;
    color: #fff;
    transition: 0.2s ease-out;
}

.HeroBtn:hover{
    background: #ffc500;
        transition: 0.2s ease-out;
        cursor: pointer;
        color: #000;
}

/* --PRODUCTOS-- */
.ProductsContainer{
    min-height: 100vh;
    padding: 5rem calc(100vw - 1300px)/2;
    background: #150f0f;
    color: #fff;
}

.ProductWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.ProductCard{
    margin: 0 2rem;
    line-height: 2;
    width: 300px;
}

.ProductImg{
    height: 300px;
    min-width: 300px;
    max-width: 100%;
    box-shadow: 8px 8px #fdc500;
}

h2{
    font-size: clamp(2rem, 2.5vw, 3rem);
    text-align: center;
    height: 60px;
    padding: 10px;
}

.ProductTitle{
    font-weight: 400;
    font-size: 1.5rem;
}

.ProductInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.ProductDesc{
    margin-bottom: 1rem;
}

.ProductPrice{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.ProductButton{
    font-size: 1rem;
    padding: 1rem 4rem;
    border: none;
    background: #e31837;
    color: #fff;
    transition: 0.2s ease-out;
}

.ProductButton:hover{
    background: #ffc500;
    transition: 0.2s ease-out;
    color: #000;
}

/* --FEATURE-- */
.FeatureContainer{
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url('../img/featured3.jpg');
    height: 100vh;
    max-height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
}

h1{
    font-size: clamp(3rem, 5vw, 5rem);
}

p{
    margin-bottom: 1rem;
    font-size: clamp(1rem, 3vw, 2rem);
}

.FeatureButton{
    font-size: 1.4rem;
    padding: 0.6rem 3rem;
    border: none;
    background: #ffc500;
    color: #000;
    transition: 0.2s ease-out;
}

.FeatureButton:hover{
    color: #e31837;
    transition: 0.2s ease-out;
    cursor: pointer;
}

/* --FOOTER-- */
.FooterContainer{
    background-color: #0d0909;
}

.FooterWrap{
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.SocialMedia{
    max-width: 1300px;
    width: 100%;
}

.SocialMediaWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 16px auto 0 auto;
}


@media screen and (max-width: 820px){
    .SocialMediaWrap{
        flex-direction: column;
    }
}

.SocialLogo{
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
}

.SocialIcons{
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.SocialIconLink{
    font-size: 24px;
}

a{
    color: #fff;
}

a:hover{
    color: var(--red);
}